
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas: 
    "nav"
    "filters"
    "products"
    "footer";
    grid-template-columns: 1fr;
}

.navigation {
    grid-area: nav;
    background-color: #1a77a1;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .nav-links {
    display: flex;
    list-style: none;
}
/*
nav {
    background-color: #1A77A1;
    color: black;
    display: flex;
    flex-wrap: nowrap;
    /*grid-area: "nav";*/

.nav-links {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    margin: 8px;
}

.navigation .logo {
    height: 100px;
}
/*
header img {
    height: 10%;
    width: auto;
}*/

body{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
.filters{
    padding: 0.1rem;
    
}
.filters h2{
    margin-left: 2rem;
    font-size: 2rem;
    margin-bottom: 0;
}

.filters li{
    
    list-style: none;
    margin-left: 2rem;
    

}
.filters a{
    text-decoration: none;
    color: black;
    
}

  .products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    margin-top: 5rem;

  }

 .product{
    text-align: center;
    width: 450px;
    height: 350px;
    padding: 1rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 7px 0px rgb(76, 76, 76);
    -moz-box-shadow: 0px 1px 7px 0px rgb(76, 76, 76);
    box-shadow: 0px 1px 7px 0px rgb(76, 76, 76);
    margin: 0 auto;
 }
 .product img{
    width: 400px;
    height: 250px;
 }


.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: rgb(218, 13, 13);
color: white;
}

.products {
    grid-area: products;
}

.filter {
    grid-area: filter;
}

.navigation {
    grid-area: navigation;
}

.container {
    display: grid;

    @media(max-width :576px) {
        grid-template-areas:
            "navigation"
            "filter"
            "products"
            "footer";
    }

    @media(min-width :576px) {
        grid-template-areas:
            "navigation navigation"
            "filter products"
            "footer footer";
    }
}
